*{margin: 0; padding: 0}

body{
    background-color: #AFEEEE;
    color: black;
}
.jumbotron{
    margin-bottom: 0;
    background-color: #49B0CB;
}


/*Navbar Styling*/
.navbar{background-color: #417D9F;}
.navbar-default{border-color: papayawhip;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background-color: papayawhip;}
.navbar-default .navbar-nav>li>a{color: black}
.navbar-default .navbar-brand{color: black; font-family: Apple Chancery, cursive}
/* End of Navbar Styling*/